
.anchor
.DS_Store
**/target/deploy
**/target/release
**/target/debug
**/target/sbf-solana-solana
**/target/.*
**/target/CACHEDIR.TAG
**/target/sbf-solana-solana
**/*.rs.bk
node_modules
test-ledger
.yarn
.env
.cursor*